<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <ul>
        <li>市: <%= farm.city %></li>
        <li>メールアドレス: <%= farm.email %></li>
    </ul>
    <h2>商品一覧</h2>
    <ul>
        <% for (let product of farm.products) { %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% } %>
    </ul>
    <a href="/farms/<%= farm._id %>/products/new">商品を追加する</a>
    <a href="/farms">農場一覧へ</a>
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="POST">
        <button>削除</button>
    </form>
</body>
</html>